@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footer {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #20232a;
  padding: 20px 0;
  .container {
    max-width: 1170px;
    margin: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      .footer-col {
        width: 25%;
        padding: 0 15px;

        ul {
			list-style: none;
			li  {
				margin-bottom: 10px;
				// :not(:last-child) {
				// 	margin-bottom: 10px;
				// }
				&:hover{
					color: #fff;
					
				}
				a{
				font-size: 16px;
				text-transform: capitalize;
				color: #ffffff;
				text-decoration: none;
				font-weight: 300;
				color: #bbbbbb;
				display: block;
				transition: all 0.3s ease;
				&:hover {
				  color: #ffffff;
				  padding-left: 8px;
				}}
			}
        
        }
        h4 {
          font-size: 18px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 15px;
          font-weight: 500;
          position: relative;
		  &:hover::before{
			content: "";
			width: 70px;
		  }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #61dafb;
            height: 2px;
            box-sizing: border-box;
            width: 0px;
            transition: 0.4s ease-in-out;
          }
          
        }
        .social-links {
          display: flex;
          align-items: center;
          a {
			.faIcon{
				// font-size: 60px;
				color: #61DAFB;
			}
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
            &:hover {
              background-color: #ffffff;
			  
            }
			&:hover{
				.faIcon{
					color: red;
				}
			}
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer{
	.container{
		.row{
			.footer-col {
				width: 50%;
				margin-bottom: 30px;
			  }
		}
	}
}}
@media (max-width: 574px) {
  .footer{
	.container{
		.row{
			.footer-col {
				width: 100%;
			  }
		}
	}
  }
}
